h1 {
  font-size: 2em;
  margin: .67em 0;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
/*  font-family: georgia, serif;
*/  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 70%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
*/  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}

b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.headerContents {
  font-family: 'Playfair Display', serif;
  line-height: 1rem !important;
  font-size: 0.75rem !important;
  margin-top: 7%;
}

.hcRight {
  text-align: right;
}

.logo {
  display: block !important;
  margin: auto !important;
  width: 70% !important;
}

.sidebar {
  text-align: center;
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 479px) {
  .ifBig {
    display: none;  
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 765px) {
  .ifBig {
    display: none;  
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
  .f1 {
    font-size: 2em !important;
  }
  .ifBig {
    font-size: 2em !important;
  }
}

/* Medium Devices, Desktops */
/*@media only screen and (min-width : 992px) and (max-width : 1200px) {
}
*/
@media screen and (min-width: 30em) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 3em;
    }
  .content {
    margin-top: 4em;
  }
  .second {
    margin-left: 0.5em;
  }
  .third {
    font-size: 5em !important;
    margin-left: 1em;
  }
}

.bt {
    border-top-style: solid;
    border-top-width: 1px;
}

.bw2 {
    border-width: .25rem;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fn {
    float: none;
}

.fw9 {
    font-weight: 900;
}

.tracked {
    letter-spacing: .1em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.mid-gray {
    color: #555;
}

.gray {
    color: #777;
}

.pt3 {
    padding-top: 1rem;
}

.pv5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mt0 {
    margin-top: 0;
}

.ttu {
    text-transform: uppercase;
}

.f2 {
    font-size: 2.25rem;
}

.f3 {
    font-size: 1.5rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 50em !important;
}

@media screen and (min-width: 30em) {
    .fl-ns {
        float: left;
        display: inline;
    }

    .w-50-ns {
        width: 50%;
    }

    .pr4-ns {
        padding-right: 2rem;
    }

    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mt0-ns {
        margin-top: 0;
    }
}

.iamCol {
  text-align: center;
  float: left;
  padding: 3em;

}
.iamCol p:nth-child(2) { margin-top: -20pt !important; }
.slideCol {
  text-align: center;
    overflow: hidden;
  display: inline-block;
}
.slideCol p { margin: 0px !important; }

.scroller {
   height: 7em;
   line-height: 7em;
   overflow: hidden;
   margin-bottom: 3em;
}
.scroller .inner { animation: 10s normal infinite running scroll; }
@keyframes scroll {
   0%   {margin-top: 5px;}
   15%  {margin-top: 5px;}

   25%  {margin-top: -95pt;}
   40%  {margin-top: -95pt;}
   
   50%  {margin-top: -200pt;}
   65%  {margin-top: -200pt;}

   75%  {margin-top: -295pt;}
   90%  {margin-top: -295pt;}

   100% {margin-top: 0px;}
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) and (max-width : 479px) {
  #textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: center; font-size:20pt !important; }
  .iamCol p { display: inline !important; }
  .slideCol { font-size: 25pt; text-align: center; margin-top: -20px; }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 765px) {
  #textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
    .iamCol { text-align: center; font-size:25pt !important; }
  .iamCol p { display: inline !important; }
  .slideCol { font-size: 38pt; text-align: center; margin-top: -20px; }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 992px) {
  #textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
  .iamCol { text-align: center; font-size:30pt !important; }
  .iamCol p { display: inline !important; }
  .slideCol { font-size: 50pt; text-align: center; margin-top: 5px; }
  .scroller {
    height: 3.75em;
    margin-bottom: 1em;
  }
  @keyframes scroll {
    0%   {margin-top: 5px;}
    15%  {margin-top: 5px;}

    25%  {margin-top: -198pt;}
    40%  {margin-top: -198pt;}

    50%  {margin-top: -390pt;}
    65%  {margin-top: -390pt;}

    75%  {margin-top: -575pt;}
    90%  {margin-top: -575pt;}

    100% {margin-top: 0px;}
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
  #textSlider.row { margin-right: 0px !important; margin-left: 0px !important; }
  .iamCol { text-align: right; font-size:30pt !important; }
  .slideCol { font-size: 55pt; text-align: left; }
  .scroller {
    height: 2.5em;
    margin-bottom: 1em;
  }
  @keyframes scroll {
    0%   {margin-top: 5px;}
    15%  {margin-top: 5px;}

    25%  {margin-top: -148pt;}
    40%  {margin-top: -148pt;}

    50%  {margin-top: -300pt;}
    65%  {margin-top: -300pt;}

    75%  {margin-top: -450pt;}
    90%  {margin-top: -450pt;}

    100% {margin-top: 0px;}
  }
}

.addMargin {
  margin-right: 2em;
}
